nav img {
    margin-top: 15%;
}

.hero {
    height: 400px;
}

.dropdown-content.nav-dropdown {
    width: auto !important;
}

#toggle-menu {
    display: none;
}

#left-nav {
    display: block;
}

.left-menu {
    padding: 0 !important;
}

.menu-header {
    background: teal;
    padding: 5px;
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #1B8C6B;
}

.menu-header {
}

.menu-header {
}

.menu-items {
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu-items p {
    margin: 0;
    margin-top: 4px;
}

.menu-items a {
    width: auto;
    display: block;
    padding: 5px;
    padding-left: 20px;
    border: 1px solid transparent;
    text-decoration: none;
}

.menu-items a:hover, .menu.a.active {
    background: #fff;
    border: 1px solid #ccc;
}

.menu-items a:hover:not(.active) {
    background: rgba(255, 255, 255, 0.5);
    border-right: 1px solid #ccc;
}

.tabs .tab a {
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: color .28s ease;
    -moz-transition: color .28s ease;
    -o-transition: color .28s ease;
    -ms-transition: color .28s ease;
    transition: color .28s ease;
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: white;
    will-change: left, right;
}

.pagination li.active {
    background-color: teal;
}